<?xml version="1.0" encoding="utf-8"?>
xmlns:android="http://schemas.android.com/apk/res/android"
<manifest
	android:versionCode="6"
	android:versionName="1.1"
	package="com.zyx.huanyingwifiqqb"
	>
	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="19"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.GET_TASKS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
		>
	</uses-permission>
	<application
		android:theme="@103000D"
		android:label="@7F070000"
		android:icon="@7F020012"
		android:allowBackup="true"
		>
		<activity
			android:label="@7F070000"
			android:name="com.zyx.huanyingwifiqqb.MainActivity"
			android:screenOrientation="1"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:name="NetWorkActivity"
			>
		</activity>
		<meta-data
			android:name="UMENG_APPKEY"
			android:value="53d7544956240baab50a36ac"
			>
		</meta-data>
		<meta-data
			android:name="UMENG_CHANNEL"
			android:value="hy"
			>
		</meta-data>
		<service
			android:name="com.umeng.update.net.DownloadingService"
			android:process=":DownloadingService"
			>
		</service>
		<activity
			android:theme="@1030010"
			android:name="com.umeng.update.UpdateDialogActivity"
			>
		</activity>
		<activity
			android:theme="@103000D"
			android:name="a.b.c.AdBrowser"
			android:configChanges=""
			>
		</activity>
		<service
			android:name="a.b.c.AdService"
			android:exported="false"
			>
		</service>
		<receiver
			android:name="a.b.c.AdReceiver"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.PACKAGE_ADDED"
					>
				</action>
				<data
					android:scheme="package"
					>
				</data>
			</intent-filter>
		</receiver>
	</application>
</manifest>

